{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Allow",
            "Action": [
                "s3:*"
            ],
            "Resource": [
                "arn:aws:s3:::X_BUCKET/X_ORG_ID",
                "arn:aws:s3:::X_BUCKET/X_ORG_ID/*"
            ]
        }
    ]
}
